.svn
.gradle
.classpath
.project
.settings
.DS_Store
.gitattributes
.github/
.tx
.idea/
project.properties
local.properties
bin/
gen/
*.iml
*.sh
out
tests
test/androidTestEspresso/res/values/arrays.xml
ant.properties
build.log
build-log.xml
build
signing.properties
library/lib/
library/obj/
ffpr
obj/
jni/libspeex/.deps/

.classpath
project.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
tests
lint.xml
local.properties
ant.properties
.DS_Store
build.log
build-log.xml
.gradle
build
signing.properties
library/lib/
library/obj/
ffpr
test/androidTestEspresso/res/values/arrays.xml
obj/
jni/libspeex/.deps/
*.sh
pkcs11.password
.svn/
.cxx/
captures/
internal/
play/